header {
  background: rgba(242, 235, 233, 0.6);
  font-family: myfont;
  transition: all 0.5s;
  .nav-link {
    font-family: Averta-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #514949;

    &:hover {
      font-family: Averta-Bold;
      font-size: 16px;
      line-height: 19px;
      // color: #E7332B !important;
    }
  }
}

header .h-btn {
  background: #E7332B;
  border-radius: 0;
}

@media screen and (min-width: 1000px ) {
  header .h-btn {
    margin-left: 130px;
  }
}



header {
  background-color: #F2EBE9;
}


/* section 3 */
.section-3 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 5rem 0;
  text-align: center;
  background: url('/images/faqs/black.min.png') no-repeat;
  background-size: cover;
  h2 {
    color: white;
  }

  button {
    background-color: #E7332B;
    border: none;
    color: white;
    width: 152px;
    padding: .8rem;
    &:hover {
      background-color: #ba241e;
    }
  }
}

/* Footer Beginning */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1000px ) {
  .disp-1 {
    display: none;
  }
}

@media screen and (max-width: 1000px ) {
  .disp-2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section-3 {
    margin: 10rem auto;
  }
}