header {
  background: rgba(242, 235, 233, 0.6);
  font-family: myfont;
  transition: all 0.5s;
  .nav-link {
    font-family: Averta-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #514949;

    &:hover {
      font-family: Averta-Bold;
      font-size: 16px;
      line-height: 19px;
      color: #E7332B !important;
    }
  }
}

header .h-btn {
  background: #E7332B;
  border-radius: 0;
}

@media screen and (min-width: 1000px ) {
  header .h-btn {
    margin-left: 130px;
  }
}