@import './config';
@import './main';
@import './header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  @include paragraph();
  color: $fontColor;
  font-family: Averta-Regular;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
  color: $fontColor;
}


// FONT FAMILY 
@font-face {
  font-family: "Averta-Regular";
  src:
  url("/fonts/Averta.woff") format("woff"),
  url("/fonts/Averta.otf") format("opentype"),
}

@font-face {
  font-family: "Averta-Bold";
  src:
  url("/fonts/Averta-Bold.woff") format("woff"),
  url("/fonts/Averta-Bold.otf") format("opentype"),
}



// HEADER CONTENT 
header {
  background: $SecondaryColor;
  width: 100%;
  height: 35em;
  max-width: 100%;
  position: relative;

  .header__text {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 40%);

    p {
      @include smallParagraph();
      color: $primaryColor;
      text-align: center;
    }

    h1 {
      width: 55%;
      @include h1();
      text-align: center;
      margin: 0 auto;
    }
  }
}


// RESPONSIVENESS 
@include mediaLg {
  header {  
    .header__text {
      h1 {
        width: 70%;
      }
    }
  }
}

@include mediaSm {
  header {  
    .header__text {
      h1 {
        width: 90%;
      }
    }
  }
}

@include mediaXm {
  
  header {
  
    .header__text {
      top: 20% !important;
      left: 50% !important;
      transform: translate(-50%, 20%) !important;
    }  
  
     
  }
}